@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,500&display=swap');

/* Reset Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 500;
	font-size: .81em;
	display: flex;
  background: #ECF2F8;
	justify-content: center;
	align-items: center;
}

main {
	width: 85%;
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.testimonial-item {
  margin-bottom: 30px;
	border-radius: 10px;
  box-shadow: 11px 11px 50px -17px rgba(0,0,0,0.4);
  position: relative;
}

.testimonial-item > * {
	margin: 15px 30px;
}

.person {
	display: flex;
  align-items: center;
}

.person-img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  border: 3px solid rgba(117, 65, 200, 0);
}

.person-name {
  font-size: .81rem;
  text-align: justify;
}
.sub-name {
  font-size: .7rem;
  opacity: .5;
}

.testimonial-highlight {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3;
  position: relative;
  z-index: 2;
}

.testimonial {
  opacity: .5;
  margin-bottom: 30px;
  line-height: 1.5
}

.quotes {
  position: absolute;
  z-index: 0;
  margin: 0;
  right: 30px;
  top: 1;
}

/*Background and font colors*/
.purple {
  background: #7541c8;
  color: white;
}

.dark-grey {
  background: #48556A;
  color: white;
  border: none;
}

.white {
  background: #FFFFFF;
  color: #48556A
}

.black {
  background-color: #18202D;
  color: white;
}

.purple .person-img, .black .person-img {
  border: 3px solid #a584db;
}

@media screen and (max-width: 370px) {
  .quotes {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .dark-grey {
    flex-basis: 48%;
  }
  
  .white {
    flex-basis: 48%;
  }
  
  .kira {
    flex-basis: 100%;
  }
  
  .black {
    
  }
}

@media screen and (min-width: 992px) {
  
}

@media screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 50%;
    gap: 30px;
    width: 1030px;
  }
  
  .testimonial-item {
    margin: 0;
  }
  
  .purple {
    grid-column: 1/3;
    order: 1;
  }
  
  .dark-grey {
    order: 2;
  }
  
  .white {
    order: 4;
    grid-column: 1/2;
  }
  
  .black {
    grid-column: 2/4;
    order: 5;
  }
  
  .kira {
    order: 3;
    grid-column: 4/5;
    grid-row: 1/3
  }
}
